.login {
    height: 3%;
    background-color: rgb(51, 65, 93);
    width: 25rem;
    height: 25rem;
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
}

.input {
    display: block;
    width: 50%;
    height: 8%;
    border-radius: 7px;
    background: rgb(92, 103, 125);
    color: aliceblue;
    font-size: large;
    border: 1px solid transparent;
    transition: all 0.3s ease;   
    outline: none;
}

.input:focus {
    border: 1px solid rgb(43, 205, 226); /* همان رنگ آبی برند خودت */
    background: rgb(110, 120, 140);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* رنگ سفید با ۵۰ درصد شفافیت */
    font-size: 0.9rem;              /* کمی کوچک‌تر برای زیبایی */
    opacity: 1;                     /* برای اطمینان در فایرفاکس */
}

.button {
    display: block;
    width: 50%;
    height: 10%;
    border-radius: 7px;
    background: rgb(125, 133, 151);
    color: white;
    font-size: large;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.text {
    size: 1%;
    margin: 0;
    top: 0;
    font-size: small;
    
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text:hover {
    color: rgb(43, 205, 226);
}