.signup {
    height: 3%;
    background-color: rgb(51, 65, 93);
    width: 35rem;
    height: 40rem;
    margin-top: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 1rem;
}

.input {
    display: block;
    width: 50%;
    height: 8%;
    border-radius: 7px;
    background: rgb(92, 103, 125);
    color: aliceblue;
    font-size: large;
    border: 1px solid transparent;
    transition: all 0.3s ease;   
    outline: none;
}

.input:focus {
    border: 1px solid rgb(43, 205, 226); /* همان رنگ آبی برند خودت */
    background: rgb(110, 120, 140);
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* رنگ سفید با ۵۰ درصد شفافیت */
    font-size: 0.9rem;              /* کمی کوچک‌تر برای زیبایی */
    opacity: 1;                     /* برای اطمینان در فایرفاکس */
    text-align: center;
}

.button {
    display: block;
    width: 50%;
    height: 10%;
    border-radius: 7px;
    background: rgb(125, 133, 151);
    color: white;
    font-size: large;
}